*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: lightgray;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
.miniNav{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.eraseAddBtn{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.eraseAddBtn button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 1em;
}

.fullFormPopUp{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.521);
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}
.formPopUp{
    display: flex;
    flex-direction: column;
    width: 22em;margin: auto;
    margin-top: 5em;
    background-color: white;
    border-radius: 10px;
    padding: 4em 1em;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.formPopUp form{
    width: 95% ;
    margin: auto;
}
.formPopUp input{
    margin-top: 1em;
    width: 100%;
    height: 3em;
}
.readOrNot{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.readOrNot p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkBoxDiv{
    margin-left: 5px;
    margin-bottom: 10px;
}

input.checkboxtest{
    height: 1.5em;
    width: 1.5em;
  
    
}

.SubmitBooks{
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.SubmitBooks:hover{
    background-color: #63da63;
    cursor: pointer;
}
.SubmitBooks:focus{
    outline: none;
}
.gridBooksShown{
    /*border: solid red;*/
    display: grid;
    grid-gap: 4em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 4em;
}
.newBookDiv{
    border: rgb(255, 255, 255) solid;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 20rem;
    width: 15rem;
}
.btnCloseDiv{
    
    display: flex;
    justify-content: end;
    margin-right: 1em;
}
.btnClose{
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 2px;
    background-color: red;
    color: white;
    font-weight: 600;
}
.titleOfBook{
    margin-top: -1em;
    display: flex;justify-content: center;
}

.authorBook{
    display: flex;justify-content: center;
}
.authorBook{
    display: flex;justify-content: center;
}
.btnToggleReadParent{
    display: flex;
    justify-content: center;
}

.btnToggleReadYesOrNo{
    width: 10em;
    height: 2em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
}




@media only screen and (max-width: 600px) {
.newBookDiv{
    width: 100%;
}
.btnCloseDiv{
justify-content: start;
}
  }